/GerenciadorDeClientes/nbproject/private/
/GerenciadorDeClientes/build/
/GerenciamentoDeClientes/GerenciadorDeClientes/nbproject/private/
/GerenciamentoDeClientes/GerenciadorDeClientes/build/
/SistemaLocacaoBikes/SistemaLocacaoBikes/nbproject/private/
/SistemaLocacaoBikes/SistemaLocacaoBikes/build/
/AtividadeFinal/AtividadeFinal/nbproject/private/
/AtividadeFinal/AtividadeFinal/build/
