/GerenciadorDeClientes/nbproject/private/
/GerenciadorDeClientes/build/
/GerenciamentoDeClientes/GerenciadorDeClientes/nbproject/private/
/GerenciamentoDeClientes/GerenciadorDeClientes/build/
/SistemaLocacaoBikes/SistemaLocacaoBikes/nbproject/private/
